---
title: "Guides"
order: 6
tags : ['top_menu']
---

<ul class="govcy-pl-0 govcy-list-unstyled">
{%- for pag in collections[category] -%}
    {#- Checks for same locale -#}
    {% if locale  == pag.data.locale -%}
        {#- Checks if we want to show the index page -#}
        {% if (pag.fileSlug == category and showIndexInCategoryMenu) or pag.fileSlug != category -%}
            <li><h2 class="govcy-fs-4"><a href="{{ pag.url | url }}">{{ pag.data.title }}</a></h2>
            <p>{{pag.data.description}}</p>
            </li>
        {%- endif %}
    {%- endif %}
{%- endfor -%}
</ul>