<!doctype html>
<html lang="{{locale}}">
    {% include 'sections/head.njk' %}
    <body{% if hideSearch %} data-pagefind-ignore{% endif %}>
        {% include 'sections/skip_to_main.njk' %}
        {% include 'sections/header.njk' %}
        {{ content | safe }}
        {% include 'sections/footer.njk' %}
        {% include 'sections/js.njk' %}
    </body>
</html>