---
title: "Styles"
order: 1
tags : ['top_menu']
---
<p>Make your service look and feel like GOV.CY.</p>

<p>Use the links on this page to navigated to the desired style element.</p>

<div class="govcy-container">
    <div class="row">
    {%- for pag in collections[category] -%}
        {#- Checks for same locale -#}
        {% if locale  == pag.data.locale -%}
            {#- Checks if we want to show the index page -#}
            {% if (pag.fileSlug == category and showIndexInCategoryMenu) or pag.fileSlug != category -%}
                <div class="govcy-col-4 govcy-mb-3"><a class="app-card" href="{{ pag.url | url }}">{{ pag.data.title }}</a></div>
            {%- endif %}
        {%- endif %}
    {%- endfor -%}
    </div>
</div> 
