---
title: "Patterns"
order: 4
tags : ['top_menu']
showCategoryMenu : true
---
<p>Patterns are best practice design solutions for specific user-focused tasks and page types.</p>
<p>All of the patterns in this section are supported by written guidance and contain coded examples where possible. If you are using the our <a href="../getting-started/developer-assets">developers assets</a> and the code in our documentation, coded examples will render the same as in the Design System.</p>
<p>Patterns often use one or more <a href="../components">components</a> and explain how to adapt them to the context.</p>
<p>Use the links on this page to navigated to the desired pattern.</p>

{%- for subCat in availableSubcategories -%}
    {#- show the subcategory name -#}
    <h2>{{ site.localization[locale][subCat] }}</h2>
    <div class="govcy-container">
        <div class="row">
        {%- for pagSubCat in collections[subCat] -%}
            {#- Checks if we want to show the index page -#}
            {% if (pagSubCat.fileSlug == category and showIndexInCategoryMenu) or pagSubCat.fileSlug != category -%}
                <div class="govcy-col-4 govcy-mb-3">
                    <a class="app-card" href="{{ pagSubCat.url | url }}" class="nav-link{% if page.url == pagSubCat.url %} active{% endif %}">
                         <h3>{{ pagSubCat.data.title }}</h3>
                         {% if pagSubCat.data.description %}<p class="flex-fill">{{ pagSubCat.data.description }}</p>{% endif %}
                    </a>
                </div>
            {%- endif %}
        {%- endfor -%}
        </div>
    </div>
{%- endfor -%}
